body {
  font-family: Helvetica, serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  align-items: center;
  z-index: 1;
}

.logo img {
  height: 50px;
  width: 150px;
  margin-right: 10px;
  color: seashell;
  line-height: 60px;
}
.logo {
  display: block;
  float: left;
  height: 77px;
  margin-left: 20px;
  text-align: center;
  width: 158px;
}
nav {
  display: block;
  text-align: right;
  float: right;
  height: 69px;
  line-height: 60px;
}
nav span a {
  text-decoration: underline;
  color: seashell;
  margin-right: 20px;
}

#mission {
  height: 700px;
  background-image: url(../images/img-mission-background.jpg);
  background-position: center;
  background-size: cover;
  justify-content: normal;
  align-items: normal;
  text-align: center;
  width: cover;
  display: block;
  font-size: 22px;
  margin-top: 70px;
  position: relative;
}
.mission {
  background-color: black;
  position: absolute;
  align-items: center;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1350px;
}

#Featured {
  width: 1000px;
  align-items: center;
  margin-top: 150px;
}

.col img {
  height. 200px;
  width: 300px;
}


.col {
  width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
}

#locations {
  height: 600px;
  width: cover;
  background-size:cover;
  background-image: url(../images/img-locations-background.jpg);
  position: relative;
  display: block;
  background-position: center;
  text-align: center;
  margin-top: 70px;
}

.locations h2 {
  margin-top: 200px;
  padding-bottom: 15px;
}
.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  position: absolute;
  opacity: 1;
}
.box-right {
  background-color: black;
  width: 300px;
  margin-left: 180px;
}
.box-center {
   background-color: black;
   width: 300px;
   margin-right: 40px;
   margin-left: 40px;
}
.box-left {
  background-color: black;
  width: 300px;
}
#contact {
  height: 200px;
  align-items: center;
  margin-top: 5px;
}
.footer {
  text-align: left;
}
